#main-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#post-feed {
    background-color: red;
    padding: 30px;
}

.post {
    max-width: 550px;
}

.post>img {
    max-width: 500px;
    margin: 25px;
}

.side-div {
    max-width: 400px;
}

.socials-bar {
    width: inherit;
    display: flex;
    justify-content: space-around;
}