header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headTextDiv {
    text-align: center;
    padding: 50px;
    padding-top: 0;
    line-height: 1;
    color: white;
}

#headTextDiv>h1 {
    font-size: 130px;
    margin-bottom: 50px;
}

#headTextDiv>aside {
    font-size: 30px;
    margin-bottom: 20px;
}