<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>

    <!-- styles -->
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/font.css">
    {% block style %} {% endblock style %}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div {% if request.url_rule.endpoint=="home" %}class="background-gradient-inverted" {% endif %} id="epic-navbar">
        <nav>
            {% if session["loggedIn"] %}
            <a href="/home" class="roboto-bold">HOME</a>
            <div class="dropdown">
                <a class="roboto-bold">OPTIONS</a>
                <div class="dropdown-content">
                    <a class="dropdown-link" href="/profile">Profile</a>
                    <a class="dropdown-link" href="/createPost">Create Post</a>
                    <hr>
                    <a class="dropdown-link" href="/settings">Settings</a>
                    <a class="dropdown-link" href="/logout">Log Out</a>
                </div>
            </div>
            {% else %}
            <a href="/login" class="roboto-bold">LOG IN</a>
            <a href="/signup" class="roboto-bold pill">SIGN UP</a>
            {% endif %}

        </nav>

        <a href="/" style="color: white; text-decoration: none;">
            <h1 class="roboto-black">OneBit</h1>
        </a>
    </div>
    <div>
        {% block content %}
        {% endblock content%}
    </div>
</body>

</html>