{% extends "_layout.html" %}

{% block title %}Edit Profile{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/editProfile.css">
{% endblock style %}

{% block content %}
<script src="/static/scripts/signup.js"></script>
<script src="/static/scripts/imagePreview.js" defer></script>

<div id="main-div">
    <div class="border-gradient editprofile-section">
        <form method="POST" enctype="multipart/form-data" id="epicForm">
            <div>
                <label for="name" class="roboto-bold">Name</label>
                <input id="name" name="name" value='{{ session["name"] }}'>
            </div>
            <div>
                <label for="userName" class="roboto-bold">Username</label>
                <input id="userName" name="userName" value='{{ session["userName"] }}'>
            </div>
            <div>
                <label for="email" class="roboto-bold">Email</label>
                <input id="email" name="email" type="email" value='{{ session["email"] }}'>
            </div>

            {% if session["profilePicture"] %}
            <div>
                <h3>Old Profile Picture</h3>
                <img src='{{session["profilePicture"]}}' alt="old profile picture" class="old-pfp">
            </div>
            {% endif %}

            <div id="image-thing-div">
                <h3 class="roboto-bold">New Profile Picture</h3>
                <img id="image-preview" src="#" alt="Image Preview">
                <div class="drop-area-wrapper">
                    <div id="dropArea" class="drop-area">
                        <p style="pointer-events: none;">Drag & Drop your image here or click to upload</p>
                        <input id="fileInput" name="image" type="file" accept="image/*" class="file-input"
                            style="background-color: red;" value='{{ session["profilePicture"] }}'>
                    </div>
                </div>
            </div>

            <input id="usePlaceholder" name="usePlaceholder" type="hidden" value="0">
            <button id="clearButton" type="button" class="gradient-button roboto-medium">Clear Image</button>
            <button id="anotherClearButton" type="button" class="gradient-button roboto-medium">Use
                default</button>
            <button class="gradient-button roboto-bold" type="submit" id="submitButton">Update</button>
        </form>
    </div>
</div>
{% endblock content %}