{% extends "_layout.html" %}

{% block title %}Edit Profile{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/editProfile.css">
{% endblock style %}

{% block content %}
<script src="/static/scripts/tags.js"></script>
<script src="/static/scripts/createPost.js"></script>
<script src="/static/scripts/imagePreview.js"></script>

<div id="main-div">
    <div class="editprofile-section border-gradient">
        <form method="POST" enctype="multipart/form-data" id="form" class="epic">
            <div>
                <label for="title">Title</label>
                <input id="title" name="title" type="text" value='{{post["title"]}}'>
            </div>

            <div>
                <label for="description" class="roboto-bold">Description</label>
                <textarea id="description" name="description" rows="5" cols="50">{{post["description"]}}</textarea>
            </div>

            <div>
                <label for="tag-input">Enter tags:</label>
                <input type="text" id="tag-input" placeholder="Type a tag and press enter">
                <div id="tag-container"></div>
                <input type="hidden" id="tag-list" name="tags" value='{{tagString}}'>
            </div>

            <div>
                <h3>Old Post Image</h3>
                <img src='{{post["image"]}}' alt="old post image" class="old-pfp">
            </div>

            <div id="image-thing-div">
                <h3 class="roboto-bold">Post Image</h3>
                <img id="image-preview" src="#" alt="Image Preview">
                <div class="drop-area-wrapper">
                    <div id="dropArea" class="drop-area">
                        <p style="pointer-events: none;">Drag & Drop your image here or click to upload</p>
                        <input id="fileInput" name="image" type="file" accept="image/*" class="file-input"
                            style="background-color: red;">
                    </div>
                </div>
            </div>
            <button id="clearButton" type="button" class="gradient-button roboto-medium">Clear Image</button>
            <button class="gradient-button roboto-bold" type="submit" id="submitButton">Update</button>
        </form>
    </div>
</div>
{% endblock content %}