{% extends "_layout.html" %}

{% block title %}OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/home.css">
{% endblock style %}

{% block content %}
<div id="main-div">
    <div id="left" class="side-div">
        <p>left</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh
            bruh bruh</p>
    </div>
    <div id="post-feed">
        <p>post feed</p>
        <div>
            {% for post in posts %}
            <div style="background-color: blue;">
                <p>{{ post["category"] }}</p>
                <img src='{{ post["image"] }}' width="50px">
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="right" class="side-div">
        <p>Latest Posts</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruh</p>
    </div>
</div>
{% endblock content%}