{% extends "_layout.html" %}

{% block title %}OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/home.css">
{% endblock style %}

{% block content %}
<script>
    $(document).ready(function () {
        $('.like-button').on('click', function (event) {
            id = this.id;
            $.ajax({
                url: '/like?postID=' + id,
                type: 'GET',
                success: function (response) {

                    document.getElementsByClassName(id)[0].innerHTML = response;
                }
            });
        });
    });
</script>

<div id="main-div">
    <div id="left" class="side-div">
        <p>left</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh
            bruh bruh</p>
    </div>
    <div id="center">
        <form id="search-form">
            <input type="search" placeholder="Search OneBit:">
        </form>
        <div id="post-feed" class="border-gradient">
            <p>post feed</p>
            <div>
                {% for post in posts %}
                <div style="background-color: blue;" class="post">
                    <p>Title: <span class="roboto-bold">{{ post["title"] }}</span></p>
                    <p>tags:
                        {% for tag in tags %}
                        {% if tag["postID"] == post["postID"]%}
                        "{{ tag["tag"] }}"
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>likes: <span class='{{ post["postID"] }}'>{{ post["likes"] }}</span></p>
                    <div class="post-img-div">
                        <img src='{{ post["image"] }}' class="post-img">
                    </div>
                    <div class="socials-bar">
                        <button class="like-button" id='{{post["postID"]}}'>
                            <div class="heart"></div>
                        </button>
                        <a>comment</a>
                        <a>share</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="right" class="side-div">
        <p>Latest Posts</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruh</p>
    </div>
</div>
{% endblock content%}