{% extends "_layout.html" %}

{% block title %}OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/home.css">
{% endblock style %}

{% block content %}
<script src="/static/scripts/home.js"></script>

<div id="main-div">
    <div id="left" class="side-div">
        <p>left</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh bruh bruhblah blah blah bruh
            bruh bruh</p>
    </div>
    <div id="center">
        <form id="search-form" method="POST">
            <input type="search" name="search" id="search" placeholder="Search OneBit:">
        </form>
        <div id="sort-div">
            <div class="dropdown">
                <a class="roboto-bold">sort by: {{ sortby }}</a>
                <div class="dropdown-content">
                    <a class="dropdown-link" href="/home?sortby=recent">recent</a>
                    <a class="dropdown-link" href="/home?sortby=likes">likes</a>
                    <a class="dropdown-link" href="/home?sortby=oldest">oldest</a>
                </div>
            </div>

        </div>
        <div id="post-feed" class="border-gradient">
            <div>
                {% for post in posts %}
                <div class="post">
                    <h2 class="roboto-bold">{{ post["title"] }} {{ post["postID"] }}</h2>
                    <a class="post-img-div" href='/post/view?postID={{post["postID"]}}#epic'>
                        <img src='{{ post["image"] }}' class="post-img">
                    </a>
                    <div class="socials-bar">
                        <div>
                            <button class="like-button" id='{{post["postID"]}}'>
                                {% if post["postID"] in likeArr %}
                                <div class="heart"></div>
                                {% else %}
                                <div class="heart heart-hollow"></div>
                                {% endif %}
                            </button>
                            <p class='{{ post["postID"] }} like-text'>{{ post["likes"] }}</p>
                        </div>

                        <a href='/post/view?postID={{post["postID"]}}#comment'><img
                                src="/static/images/websiteImages/commentThing.png" width="40px"></a>
                        <div class="tooltip">
                            <p class="tooltip-text"></p>
                        </div>
                        <div class="tooltip">
                            <a onclick='copyFunc( {{post["postID"]}} )' onmouseout="outFunc()">
                                <span class="tooltiptext" id="myTooltip">Copy post link</span>
                                <img src="/static/images/websiteImages/shareThing.png" width="40px">
                            </a>
                        </div>
                    </div>
                    <p>description: {{ post["description"] }}</p>
                    <p>tags
                        {% for tag in tags %}
                        {% if tag["postID"] == post["postID"]%}
                        "{{ tag["tag"] }}"
                        {% endif %}
                        {% endfor %}
                    </p>
                    <a href='/post/view?postID={{ post["postID"] }}'>view post</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="right" class="side-div">
        <p>Latest Posts</p>
        <p>blah blah blah bruh bruh bruhblah blah blah bruh bruh bruh</p>
    </div>
</div>
{% endblock content%}