{% extends "_layout.html" %}

{% block title %}Welcome to OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/index.css">
{% endblock style %}

{% block content %}
<header class="background-gradient">
    <div id="headTextDiv">
        <h1 class="roboto-bold">Join a <span class="roboto-black">thriving</span> community</h1>
        <aside class="roboto-medium">OneBit is a place to share your passion and creativity</aside>
    </div>
    <a class="action-button roboto-black" href="/home?sortby=recent">CHECK IT OUT</a>
</header>
<div class="centerContent">
    <div class="normalContent">
        <section>
            <h2>What's OneBit?</h2>
            <p>
                OneBit is the ultimate place to share you passion and creativity! It is a platform for makers, nerds and
                tech enthusiasts just like you to share their projects, recieve feedback and have a good time.
            </p>
        </section>
        <section>
            <h2>Show Off Your Projects 🚀</h2>
            <p>
                Got a cool project? Whether it's a homemade robot, a nifty piece of code, or a gadget that makes life
                easier, we want to see it! OneBit is the perfect place to share your genius with the world.
            </p>
        </section>
        <section>
            <h2>Get Friendly Feedback 🤝</h2>
            <p>
                We're all about good vibes and helpful advice here. Share your work and get some friendly feedback from
                fellow enthusiasts who are just as passionate as you are. It's like having a brainy best friend who
                always knows how to help.
            </p>
        </section>
        <section>
            <h2>Join the Fun Community 🌐</h2>
            <p>
                Here at OneBit, we're all about community. Connect with people who get your tech jokes, understand your
                late-night coding sessions, and appreciate your love for all things geeky. Collaborate, chat, and maybe
                even find your next project buddy.
            </p>
        </section>
        <section>
            <h2>Just Have Fun 🎉</h2>
            <p>At the end of the day, OneBit is all about having fun. Whether you're here to learn something new, share
                your latest invention, or just hang out with cool people, we've got you covered. 😎
                <br><br>
                So, what are you waiting for? Dive in, share your passion, and let's make some tech magic together! ✨
            </p>
            <div class="centerContent" style="margin-top: 50px;">
                <a class="action-button roboto-black" href="/home?sortby=recent">LET'S GO</a>
            </div>
        </section>
    </div>
</div>


{% endblock content %}