{% extends "_layout.html" %}

{% block title %}Welcome to OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/index.css">
<link rel="stylesheet" href="/static/style/font.css">
{% endblock style %}

{% block content %}
<header class="background-gradient">
    <div id="headTextDiv">
        <h1 class="roboto-bold">Join a <span class="roboto-black">thriving</span> community</h1>
        <aside class="roboto-medium">OneBit is a place to share your passion and creativity</aside>
    </div>
    <button class="action-button roboto-black">GET STARTED</button>
</header>
<div class="centerContent">
    <div class="normalContent">
        <section>
            <h1>brah</h1>
            <p>wassupwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blah blah blah blah blah wassupwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blah blah blah blah blahwassupwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blah blah blah blah blah</p>
        </section>
        <section>
            <h1>brah 2</h1>
            <p>wassupwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blah blah blah blah blah</p>
        </section>
        <section>
            <h1>brah 3</h1>
            <p>wassupwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah
                blahwassup blah blah blah blah blah blah blah blah</p>
        </section>
    </div>
</div>


{% endblock content %}