{% extends "_layout.html" %}

{% block title %}Welcome to OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/index.css">
{% endblock style %}

{% block content %}
<header>
    <div id="headTextDiv">
        <h1>Welcome to the OneBit community</h1>
        <aside>a place to share your passion and creativity</aside>
    </div>
    <div id="headBlobs">
        <img src="/static/images/blobs/Vector.png" id="blob1">
    </div>
</header>
<div class="centerContent">
    <div class="normalContent">
        <h1>brah</h1>
        <p>wassupwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah blahwassup blah blah blah
            blahwassup blah blah blah blah blah blah blah blah</p>
    </div>
</div>


{% endblock content %}