{% extends "_layout.html" %}

{% block title %}Log In{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/login.css">
{% endblock style %}

{% block content %}
<div style="width: 100vw; height: 80vh;" class="main-thing">
    <div class="login-thing border-gradient">
        <form method="POST">
            <div>
                <label for="userName">Username</label>
                <input id="userName" name="userName">

                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>
            <button>LOG IN</button>
        </form>
    </div>
</div>



{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock content %}