{% extends "_layout.html" %}

{% block title %}Log In{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/login.css">
{% endblock style %}

{% block content %}
<div style="width: 100vw; height: 80vh;" class="main-thing">
    <div class="login-thing border-gradient">
        <form method="POST">
            <div>
                <label for="userName" class="roboto-bold">Username</label>
                <input id="userName" name="userName">
            </div>
            <div>
                <label for="password" class="roboto-bold">Password</label>
                <input id="password" name="password" type="password">
            </div>
            <button class="gradient-button button-thing roboto-bold">LOG IN</button>
            <p style="text-align: center; font-size: 15px;">Don't have an account? <a href="/user/signup">Create an
                    account</a></p>
        </form>
    </div>
</div>
{% endblock content %}