{% extends "_layout.html" %}

{% block title %}Welcome to OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/profile.css">
{% endblock style %}

{% block content %}
<div class="main-div">
    <div class="border-gradient profile-thing">
        <img src='{{ session["profilePicture"] }}' class="pfp">
        <h1>{{ session["userName"] }}</h1>
        <h3>{{ session["firstName"] }} {{ session["userID"] }}</h3>
        <div class="stats-thing">
            <p>Posts made: {{ postNum }}</p>
            <p>Likes received: {{ likeCount }}</p>
            <p>Comments: {{ commentNum }}</p>
        </div>
        <a href="/user/edit">edit profile</a>
    </div>
</div>

{% endblock content %}