{% extends "_layout.html" %}

{% block title %}Sign Up{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/signup.css">
{% endblock style %}

{% block content %}
<div id="main-div">
    <div id="left-div">
        <h1>SIGN UP</h1>
        <button class="gradient-button left-button roboto-medium">Account Details</button>
        <button class="gradient-button left-button roboto-medium">Extra Details</button>
        <a href="/">Cancel</a>
    </div>
    <div id="right-div" class="border-gradient">
        <h2>Account Details</h2>
        <form method="POST" enctype="multipart/form-data">
            <div id="left-form-div">
                <div>
                    <label for="firstName">First Name</label><br>
                    <input id="firstName" name="firstName">
                </div>

                <div>
                    <label for="userName">Username</label><br>
                    <input id="userName" name="userName">
                </div>

                <div>
                    <label for="email">email</label><br>
                    <input id="email" name="email" type="email">
                </div>

                <div>
                    <label for="password">password</label><br>
                    <input id="password" name="password" type="password">
                </div>
            </div>
            <div>
                <label for="image">profil picture</label>
                <input id="image" name="image" type="file" accept="image/*">
            </div>

        </form>
        <button class="gradient-button">CONTINUE</button>
    </div>
</div>

{% endblock content %}