{% extends "_layout.html" %}

{% block title %}Sign Up{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/signup.css">
{% endblock style %}

{% block content %}
<script src="/static/scripts/signup.js"></script>
<div id="main-div">
    <div id="left-div">
        <h1>SIGN UP</h1>
        <button class="gradient-button left-button roboto-medium">Account Details</button>
        <button class="gradient-button left-button roboto-medium">Extra Details</button>
        <a href="/">Cancel</a>
    </div>
    <div id="right-div" class="border-gradient">
        <h2>Account Details</h2>
        <form method="POST" enctype="multipart/form-data">
            <div id="left-form-div">
                <div>
                    <label for="firstName">Name</label><br>
                    <input id="firstName" name="firstName" class="text-input">
                </div>

                <div>
                    <label for="userName">Username</label><br>
                    <input id="userName" name="userName" class="text-input">
                </div>

                <div>
                    <label for="email">Email</label><br>
                    <input id="email" name="email" type="email" class="text-input">
                </div>

                <div>
                    <label for="password">Password</label><br>
                    <input id="password" name="password" type="password" class="text-input">
                </div>
            </div>

            <div id="image-thing-div">
                <div id="preview" class="preview"></div>

                <div class="drop-area-wrapper">
                    <div id="dropArea" class="drop-area">
                        <p>Drag & Drop your image here or click to upload</p>
                        <input id="fileInput" name="image" type="file" accept="image/*" class="file-input"
                            style="background-color: red;">
                    </div>
                </div>

            </div>

        </form>
        <button class="gradient-button button-thing roboto-medium">CONTINUE</button>
    </div>
</div>

{% endblock content %}