{% extends "_layout.html" %}

{% block title %}OneBit{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/static/style/viewPost.css">
{% endblock style %}

{% block content %}
<script src="/static/scripts/viewPost.js"></script>
<div id="main-div">
    <div class="post-section border-gradient">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="post-title">{{ post["title"] }}</div>
            <div class="post-description">{{ post["description"] }}</div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; gap:20px;">
            <div class="post-likes">Likes: {{ post["likes"] }}</div>
            <div class="post-likes">Comments: {{ commentCount }}</div>
        </div>
        <img class="post-image" src='{{ post["image"] }}' alt="Post Image" id="epic">

        <form id="comment-form" method="post" class="comment-form">
            <label for="comment" id="comment-label">Comment on this post:</label>
            <textarea id="comment" name="comment" type="text" rows="5" cols="50"></textarea>
            <button type="submit" class="gradient-button">Comment</button>
        </form>

        <div class="comments">
            {% for comment in comments %}
            <div class="comment">
                <div>
                    <img src='{{comment["image"]}}' class="commentPFP">
                </div>
                <div>
                    <div class="comment-info">{{ comment["userName"] }} @ {{ comment["time"] }}</div>
                    <div class="comment-text">{{ comment["comment"] }}</div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}